body 
{
    	background-image: url("water.jpg");
	background-repeat: repeat;
	background-color: #A9CADB;
}

#titleText {
	border-top: 2px solid #3eb5ff;
	border-bottom: 2px solid #3eb5ff;
	text-align: center;
	color: #385737;
	font-variant: small-caps;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 30%;
	margin-right: 30%;
	border-right-style: solid;
	border-left-style: solid;
	font-size: xx-large;
	border-right-color: #3eb5ff;
	border-left-color: #3eb5ff;
	background-color: #A9CADB;
}


#subtitleText {
	margin-left: 2%;
}

#outputBox {
	width: 50%;
	height: 480px;
	max-height: 480px;
	border: 2px solid #3eb5ff;
	float: left;
	padding: 10px 10px 10px 10px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #A9CADB;
	overflow: auto;
	font-weight: bold;
	font-size: 15px;
}

#variablesBox {
	width: 38%;
	height: 480px;
	border: 2px solid #3eb5ff;
	float: right;
	padding: 10px 10px 10px 10px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #A9CADB;
}
#inputBox {
	width: 50%;
	border: 2px solid #3eb5ff;
	padding: 10px 10px 10px 10px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #A9CADB;
}
#loginBox {
	width: 50%;
	border: 2px solid #3eb5ff;
	padding: 10px 10px 10px 10px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #A9CADB;
}

/* button css made with help from https://www.bestcssbuttongenerator.com/#/7 */
.button 
{
	-moz-box-shadow:inset 0px -3px 7px 0px #786f62;
	-webkit-box-shadow:inset 0px -3px 7px 0px #786f62;
	box-shadow:inset 0px -3px 7px 0px #786f62;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c0ab8e), color-stop(1, #a89780));
	background:-moz-linear-gradient(top, #c0ab8e 5%, #a89780 100%);
	background:-webkit-linear-gradient(top, #c0ab8e 5%, #a89780 100%);
	background:-o-linear-gradient(top, #c0ab8e 5%, #a89780 100%);
	background:-ms-linear-gradient(top, #c0ab8e 5%, #a89780 100%);
	background:linear-gradient(to bottom, #c0ab8e 5%, #a89780 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0ab8e', endColorstr='#a89780',GradientType=0);
	background-color:#c0ab8e;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 2px #263666;
}
.button:hover
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a89780), color-stop(1, #c0ab8e));
	background:-moz-linear-gradient(top, #a89780 5%, #c0ab8e 100%);
	background:-webkit-linear-gradient(top, #a89780 5%, #c0ab8e 100%);
	background:-o-linear-gradient(top, #a89780 5%, #c0ab8e 100%);
	background:-ms-linear-gradient(top, #a89780 5%, #c0ab8e 100%);
	background:linear-gradient(to bottom, #a89780 5%, #c0ab8e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a89780', endColorstr='#c0ab8e',GradientType=0);
	background-color:#a89780;
}
.button:active 
{
	position:relative;
	top:1px;
}

CADB;
}


ADB;
}


CADB;
}


ADB;
}



